
    <div class="overlay"></div>
    <div class="cheque-dialog" >
        <div class='header'>New Cheque</div>
        <fieldset>
            <legend>Enter Cheque Details</legend>
            <div><label>Amount: <input type="text" ng-model="cheque.amount"></label></div>
            <div><label>Amount: <input type="text" ng-model="cheque.amount"></label></div>
            <div><label>Amount: <input type="text" ng-model="cheque.amount"></label></div>
            <div><label>Amount: <input type="text" ng-model="cheque.amount"></label></div>
            <div><label>Amount: <input type="text" ng-model="cheque.amount"></label></div>
            <div><label>Amount: <input type="text" ng-model="cheque.amount"></label></div>
        </fieldset>
    </div>
