<div ng-controller="itemssModalDialog">
    <div class="header">Select Items</div>
    <fieldset>
        <legend>Filter Items</legend>
        <label>
            ID :
            <input type="text">
        </label>
        <label>
            Description/Name : 
            <input type="text">
        </label>
    </fieldset>
    
        <table cellspacing="0" cellpadding="0">
            <tr>
                <th></th>
                <th><ch-table-sort sort="sort" value="id" reverse="reverse" text="ID"></ch-table-sort></th>
                <th><ch-table-sort sort="sort" value="name" reverse="reverse" text="Description"></ch-table-sort></th>
                <th>Quantity</th>
            </tr>
            <tr ng-click="selectItem(item, $event)" 
                ng-if="item.status !== 0" 
                ng-repeat="item in items |orderBy:sort:reverse | filter : {status:filterCustomer.status} track by $index" >
                <td>$index</td>
                <td><a href="./#/items/{{item.id}}">{{item.id}}</a></td>
                <td>{{customer.description}}</td>
                <td><input type="text" ng-model="customer.quantity"></td>
            </tr>
                
        </table>
    <div class="footer">
        <button ng-click="ok()" ng-disabled="!selectedItems.length">Add Items</button><button ng-click="cancel()">Close</button>
    </div>
</div>