body{
    background-image: url(images/blobkgde.gif);
}

#logo-container{
    background: activeborder;
    height: 50px;
}

#nav-bar a{
    background: red;
    padding: 10px 40px;
}

#nav-bar a:hover{
    background: #f3aeaa;
}

.flex{
    display: flex;
}

.left-view-panel{
    width: 15em;
    background-color: blue;
}

.right-selected-panel{
    flex: 1;
    background: rgba(130, 130, 130, 0.5);
}

.left-view-panel .header,
.right-selected-panel .header{
    padding: 15px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid black;
}

.left-view-panel ul a{
    color: #5d0505;
    text-decoration: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 20px;
    display: block; 
}

.left-view-panel ul a:not(.selected-category):hover{
    background-color: rebeccapurple;
}

.left-view-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.selected-category{
    background-color: yellow;
}

.item-view .image-slider{
    width: 30em;
    height: 20em;
    overflow: hidden;
    position: relative;
    background-color: white;
}
.item-view .image-slider img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    margin-left: 100%;
    position: absolute;
}

.item-view .image-slider img.selected{
    margin-left: 0;
}

.image-slide-handle-right,
.image-slide-handle-left{
    position: absolute;
    height: 100%;
    background-color: #797171;
    width: 50px;
    opacity: 0.5;
    top: 0;
    transition: 0.2s;
    z-index: 1;
}

.image-slide-handle-right{
    right: -50px;
    
}

.image-slide-handle-left{
    left: -50px;    
}

.item-view .image-slider:hover .image-slide-handle-right{
    right: 0;
}

.item-view .image-slider:hover .image-slide-handle-left{
    left: 0;
}

.item-view #clicked-image.clicked-image{
    background: #5f5d5d ;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    object-fit: none;
    display: block;
}
.item-view #clicked-image{
    width: 0;
    height: 0;
    margin: 5%;
    border-radius: 10px;
    display: none;
    
}
.arrow-right,
.arrow-left{
    top: 40%;
    position: relative;
    margin: auto;
    width: 0;
}
.arrow-right {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 30px solid #0a0a0a;
}

.arrow-left {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right:30px solid #0a0a0a; 
}

#image-count{
    position: absolute;
    z-index: 1;
}


.item-prev-template{
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    width: 160px;
    margin: 5px;
    background: #f5f7d7;
    -webkit-box-shadow: inset 1px -1px 28px -1px rgba(0,0,0,0.14);
    -moz-box-shadow: inset 1px -1px 28px -1px rgba(0,0,0,0.14);
    box-shadow: inset 1px -1px 28px -1px rgba(0,0,0,0.14);
    
    -webkit-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.75);
box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.75);
}

.item-prev-template img{
    width: 100%;
    height: 120px;
    border: 1px solid #bfbbbb;
}

.item-image-wrap{
    position: relative;
}

.item-price{
    position: absolute;
    float: right;
    background: #8ee08e;
    padding: 2px;
    border-radius: 4px;
    right: 0;
    
    -webkit-box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
    box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
}

.item-price-offer{
    position: absolute;
    float: right;
    background: rgba(251, 210, 9, 0.34);
    padding: 2px;
    color: red;
    font-weight: bold;
    border-radius: 4px;
    right: 0;
        bottom: -24px;
    -webkit-box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
    box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
}

.old-price{
    text-decoration: line-through;
    color:blue;
}

.item-desc{
    height: 2.5em;
    width: 100%;
    overflow: hidden;
}

#homeTemplate{
    text-align: center;
}

.item-title{
    overflow: hidden;
    height: 1em;
        font-weight: bold;
}