<div class="flex">
    <div class="left-view-panel">
        <div class="header">Customer name</div>    
        <ul>
            <li>                
                <a ng-href="./#/account/orders" style="padding: 1px 15px; cursor: pointer;"   ng-class="{'selected-category': selectedSection == 'orders'}" >Orders</a>
                <a ng-href="./#/account/payments" style="padding: 1px 15px; cursor: pointer;"   ng-class="{'selected-category': selectedSection == 'payments'}" >Payments</a>
                <a ng-href="./#/account/cheques" style="padding: 1px 15px; cursor: pointer;"   ng-class="{'selected-category': selectedSection == 'cheques'}" >Cheques</a>
                <a ng-href="./#/account/invoices" style="padding: 1px 15px; cursor: pointer;"   ng-class="{'selected-category': selectedSection == 'invoices'}" >Invoices</a>
                <a ng-href="./#/account/ledger" style="padding: 1px 15px; cursor: pointer;"   ng-class="{'selected-category': selectedSection == 'ledger'}" >Ledger</a>
            </li>
        </ul>
    </div>
    <div ng-include="view"  class="right-selected-panel"></div>
</div>