<div ng-controller="chequeController">
    <h1><center>Cheque details</center></h1>
    <ul>
        <li>Customer: <span>{{cheque.customer}}</span></li>
        <li>Amount: <span>{{cheque.amount}}</span></li>
        <li>Cheque No: <span>{{cheque.chequeNo}}</span></li>
        <li>Bank: <span>{{cheque.bank}}</span></li>
        <li>Account No: <span>{{cheque.accountNo}}</span></li>
        <li>Status: <span>{{cheque.status}}</span></li>
        <li>Aditionalinfo <textarea>{{cheque.remarks}}</textarea></li>
    </ul>
    
</div>