<div class="modal-dialog-wrap" ng-controller="itemListController">
    <span ng-click="close()">Close</span>
    <table>
        <tr>
            <th>Item No</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in items track by $index">
            <th>{{item.id}}</th>
            <th>{{item.category}}</th>
            <th>{{item.name}}</th>
            <th>{{item.price}}</th>
            <th> <input type="number" ng-model="item.quantity"> </th>
            <th ng-init="addedToOrder = isItemInOrder(item.id)">
                <button ng-show="!addedToOrder" ng-click="addItemToOrder()" ng->Add</button>
                <button ng-show="addedToOrder" ng-click="removeItemFromOrder()">Remove</button>
            </th>
        </tr>
    </table>
</div>