<div ng-controller="newOrderController">
    <center><h1>Your order</h1></center>
    
    <table ng-show="newOrder.length > 0">
        <thead>
            <tr>
                <th>Item No</th>
                <th>Description</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in newOrder track by $index">
                <th><a href=".#/items/{{item.categoryId}}/{{item.id}}" target="blank">{{item.id}}</a></th>
                <th>{{item.name}}</th>
                <th><a href=".#/items/{{item.categoryId}}" target="blank">{{item.category}}</a></th>
                <th><input type="number" ng-model="item.quantity" min="1"></th>
                <th>{{item.price}}</th>
                <th>{{item.quantity * item.price}}</th>
                <th><button ng-click="removeFromOrder(item)">Remove</button></th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Sub total : </td>
                <td>{{getSubtotal()}}</td>
            </tr>
        </tfoot>
    </table>
    <div>
        <button ng-click="showItemList()">Add Items into Order</button>
    </div>
</div>