<div ng-controller="newOrderController">
    <center><h1>Your order</h1></center>
    
    <table ng-show="newOrder.length > 0">
        <thead>
            <tr>
                <th>Item No</th>
                <th>Description</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in newOrder">
                <th>{{item.itemId}}</th>
                <th>{{item.description}}</th>
                <th>{{item.category}}</th>
                <th>{{item.orderQuantity}}</th>
                <th>{{item.price}}</th>
                <th>{{item.quantity * item.price}}</th>
                <th><button ng-click="removeFromOrder(item)">Remove</button></th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Sub total : </td>
                <td>calc..</td>
            </tr>
        </tfoot>
    </table>
    <div>
        <button ng-click="showItemList()">Add Items into Order</button>
    </div>
</div>