.tips{
    text-align: center;
    padding: 15px;
    font-style: italic;
}

.pending{
    background: rgba(22, 153, 213, 0.19) !important;
}

.returned{
    background: #F44336 !important;
    color: white;
}

fieldset button{
    border: none;
    background: #138d18;
    padding: 5px 17px;
    color: white;
    font-weight: bold;
}

.fnt-12{
    font-size: 12px;
}

.tst i{
    margin: 0 2px;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 4px;
    color: white;
}

.tst .fa-money{
    background:#009688;    
}

.tst .fa-file-text-o{
    background: #3F51B5;
}

tr:not(.passed):not(.table-header):nth-child(odd){
    background: rgba(217, 217, 217, 0.58)
}

.item-list-table td{
    font-size: 13px;
}

tr.table-header{
    background: #cfb3b7;
}

th{
    border-bottom: 1px solid;
    
}

table{
    background: white;
}

td{
    text-align: center;
    padding: 4px 2px;
    border-bottom: 1px solid #cbcbcb;
}

.new-button{
    margin-left: 28px;
    margin-top: 25px;
    padding: 15px;
    margin-bottom: 36px;
    background: green;
    border-radius: 5px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.link{
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px;
    margin: 2px;
    color: white;
}

.pad7{
    padding: 7px;
}

body{
    /*background-image: url(../images/app/blobkgde.gif);*/
    font-family: "Lato", sans-serif;
}

#logo-container{
    background: activeborder;
    height: 50px;
}

#nav-bar{
    background-color: #f4f3f3;
    overflow: hidden;
    box-shadow: inset 0px 0px 13px 0px #000000;
}

#nav-bar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#nav-bar a:hover {
    background-color: rgba(240, 184, 184, 0.47);
    color: black;
}
#nav-bar a.active {
    background-color: rgba(8, 127, 221, 0.8);
    color: #fafafa
}

.float-r{
    float: right !important;
}

.flex{
    display: flex;
}

.views{
    /*background-color: white;*/
}

.left-view-panel{
    width: 15em;
    background-color: #955252;
    color: white;
}

.right-selected-panel{
    flex: 1;
    background: rgb(213, 213, 213);
    padding: 12px;
    
}

.col{
    display: inline-block;
    display: inline-block;
    padding: 6px 0;
    text-align: center;
}

.red{
    color: red;
}

.green{
    color: green;
}
.hover-button{
    position:relative;
}
.table-header{
    font-weight: bold;
}
.hover-button:hover button{
    display: block;
}
.table-row{
    cursor: pointer;
}
.hover-button > button{
    display: none;
    position: absolute;
    right: 0;
    border: none;
    background: blue;
    padding: 5px 10px;
    top: -4px;
    border-radius: 5px;
    color: white;
}

.col-id{width: 65px;}
.col-date{width: 85px;}
.col-name{width: 225px;}
.col-total{width: 90px;}
.col5{width: 30px;}
.col6{width: 30px;}
.col-remarks{width: 200px;}
.col1{width: 30px;}

.col-float{float: right;}

.left-view-panel .header,
.right-selected-panel .header{
    padding: 15px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    /*    border-bottom: 1px solid #a8a8a8;
        box-shadow: inset 0px 1px 6px #898989;*/
    text-align: center;
}

a{
    text-decoration: none;
    color: #00007e;
}
a:hover{
    text-decoration: underline;
}

.add-to-order{
    
}

.home-cont span{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    position: relative;
    
}

.home-cont span i{
    position: absolute;
    top: 35px;
    left: 77px;
}

.home-cont{
    padding: 60px;
    background: #eee6d1;
    cursor: pointer;
}

.home-cont > div {
    display: table;
    margin: auto;
}

.home-block-btn:hover{
    box-shadow: inset -1px 0px 9px 0px black;
}

.home-block-btn{
    display: inline-block;
    width: 200px;
    height: 100px;
    /* border: 1px solid; */
    margin: 10px;
    box-shadow: 0px 3px 9px 0px black;
    border-radius: 5px;
}

#logo>div{
    background: #e6e6e6;
    /* text-align: center; */
    padding-left: 135px;
}

.item-new-price{
    color: #d50303;
};

.item-add-button:hover{
    text-decoration: none;
}

button.add-to-order:hover{
    background: rgba(3, 169, 244, 0.74)
}

.added-to-order{
    background: #ba7373 !important;
}

.add-to-order .fa{
    margin-right: 4px;
}

button.add-to-order{
    cursor: pointer;
    background: rgb(22, 144, 242);
    display: inline-block;
    border-radius: 5px;
    padding: 5px 0;
    text-align: center;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    width: 148px;
    border: none;
    outline: none;
}

.item-old-price{
    text-decoration: line-through;
    color: gray;
}

.btn{
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
}

.blue-btn{        
    background: #2196F3;    
}

.red-btn{        
    background: #F44336;
}

.gray-btn{        
    background: #7a7a7a;
}

.formfield * {
    vertical-align: top;
}

fieldset{
    border: 1px solid gray;
}

.offer-price{
    background: #ebeb48;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
    text-align: right;
}

.cheque-dialog .row{
    padding: 5px 10px;
}

.vertical-menu a {
    cursor: pointer;
    color: white;
    display: block;
    padding: 8px;
    /* box-shadow: inset 0px 0px 0px 0px #898989; */
    text-decoration: none;
}

.vertical-menu a:not(.selected-category):hover{
    background: rgba(229, 24, 24, 0.51);
}

.vertical-menu .selected-category{
    background-color: #77b3e8;
}

i.fa{
    margin-right: 4px;
}

.item-view.item-edit{
    width: 500px;
    padding: 1px 100px;
    background: #d9d9d9;
}

.item-edit label{
    display: block;
    padding: 5px;
}

.item-edit label span{
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
}

.item-edit label textarea,
.item-edit label select,
.item-edit label input:not(input[type=file]){
    padding: 1px 5px;
    font-size: 15px;
    width: 482px;
}

.item-view item-view{
    text-align: center;
    text-transform: capitalize;
    
}

.item-view .edit-images-wrap {
    width: 494px;
}


.item-edit label textarea{
    min-height: 75px;
}

.item-edit label textarea,
.item-edit label select,
.item-edit label input{
    width: 450px;
}

.edit-images-wrap{
    border: 1px solid #b6acac;
    min-height: 110px;
    
}

.item-edit .item-edit-image img,
.item-edit .item-edit-image {
    width: 100px;
    height: 100px;
}


.item-edit .item-edit-image {
    border: 1px solid #b6acac;
    margin: 18px 10px; 
    position: relative;
    display: inline-block;
}

.item-edit label select{
    width: 471px;
}

.item-view .image-slider{
    width: 30em;
    height: 20em;
    overflow: hidden;
    position: relative;
    background-color: white;
}
.item-view .image-slider img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    margin-left: 100%;
    position: absolute;
}

.item-view .image-slider img.selected{
    margin-left: 0;
}

.image-slide-handle-right,
.image-slide-handle-left{
    position: absolute;
    height: 100%;
    background-color: #797171;
    width: 50px;
    opacity: 0.5;
    top: 0;
    transition: 0.2s;
    z-index: 1;
}

.image-slide-handle-right{
    right: -50px;
    
}

.image-slide-handle-left{
    left: -50px;    
}

.item-view .image-slider:hover .image-slide-handle-right{
    right: 0;
}

.item-view .image-slider:hover .image-slide-handle-left{
    left: 0;
}

.item-description{
    width: 200px;
    overflow: hidden;
}

.item-view #clicked-image.clicked-image{
    background: #5f5d5d ;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    object-fit: none;
    display: block;
}
.item-view #clicked-image{
    width: 0;
    height: 0;
    margin: 5%;
    border-radius: 10px;
    display: none;
    
}
.arrow-right,
.arrow-left{
    top: 40%;
    position: relative;
    margin: auto;
    width: 0;
}
.arrow-right {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 30px solid #0a0a0a;
}

.arrow-left {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right:30px solid #0a0a0a; 
}

#image-count{
    position: absolute;
    z-index: 1;
}

.item-offer{
    text-align: center;
}



.item-prev-template{
    display: inline-block;
    border: 1px solid #b8afaf;
    padding: 10px;
    width: 145px;
    margin: 5px;
    border-radius: 5px;
    background: rgb(231, 229, 210);
    -webkit-box-shadow: inset 1px -1px 28px -1px rgba(0,0,0,0.14);
    -moz-box-shadow: inset 1px -1px 28px -1px rgba(0,0,0,0.14);
    box-shadow: inset 1px -1px 28px -1px rgba(0,0,0,0.14);
    
    -webkit-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.75);
}

.item-prev-template img{
    width: 100%;
    height: 120px;
    border: 1px solid #bfbbbb;
}

.item-image-small{
    width:20px;
}

.item-image-wrap{
    position: relative;
}

.item-price{
    position: absolute;
    float: right;
    background: rgba(2, 168, 85, 0.65);
    padding: 2px;
    border-radius: 4px;
    right: 0;
    -webkit-box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
    box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
    color: #0d0d0d;
}

.item-price-offer{
    position: absolute;
    float: right;
    background: rgba(251, 210, 9, 0.34);
    padding: 2px;
    color: red;
    font-weight: bold;
    border-radius: 4px;
    right: 0;
    bottom: -24px;
    -webkit-box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
    box-shadow: -25px 24px 24px -16px rgba(0,0,0,0.75);
}

.old-price{
    text-decoration: line-through;
    color:blue;
}

.item-desc{
    height: 2.5em;
    width: 100%;
    overflow: hidden;
}

#homeTemplate{
    text-align: center;
}

.item-title{
    text-align: center;
}

.item-title a{
    color: #115cb8;
    text-decoration: none;
    line-height: 1.3;
    margin-top: .1em;
    margin-bottom: .1em;
    font-weight: bold;
    font-size: 15px;
}

.item-title a:hover{
    color: #aa1e1e;
}

th{
    padding: 5px;
}

td{
    padding: 4px 2px;
}

/*--------------modal dialogs -------------------*/

.ch-modal-dialog, .ch-modal-dialog .overlay{
    width: 100%;
    height: 100%; 
    top:0;
}

.ch-modal-dialog{
    position: absolute;    
    z-index: 1000;
}

.ch-modal-dialog .customer-list{
    width: 900px;
    max-height: 80%;
    top:10%;
}

.ch-modal-dialog .customer-list table{
    margin: auto;
}

.ch-modal-dialog .customer-list tr:nth-child(2n){
    background-color: #e9e9e9;
}

.ch-modal-dialog .customer-list tr.selected{
    background: #d3df22;
    font-weight: bold;
}

.ch-modal-dialog .customer-list tr{
    cursor: pointer;
}

.ch-modal-dialog .customer-list tr:not(.selected):hover{
    background: #b6d8f2;
}

.ch-modal-dialog .customer-list th{
    border-bottom: 1px solid black;
}

.ch-modal-dialog .cheque-dialog{
    width: 400px;
    top: 30%;
}

.ch-modal-dialog .customer-list,
.ch-modal-dialog .cheque-dialog{    
    background: white;
    position: relative;
    margin: auto;
    
    overflow: hidden;
    border-radius: 5px;
}

.ch-modal-dialog .overlay{
    background: black;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}

.ch-modal-dialog .header{
    padding: 10px;
    background: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.ch-modal-dialog .footer{
    padding: 10px;
    text-align: right;
}

.footer button{
    margin: 0 2px;
}

.modal-dialog-wrap{
    z-index: 9999;
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.modal-dialog-background{
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal-dialog{
    position: relative;  
    width: 50%;  
    margin-top: 80px;
    background: wheat;
    margin: auto;
}

.modal-dialog-content{
    
    overflow: auto;
    min-height: 50%;
}

.modal-dialog-close{
    width: 20px;
    height: 20px;
    background: red;
    display: block;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: 3px double black;
    border-radius: 15px;
    position: absolute;
    right: -15px;
    top: -15px;
}




.right-panel-content{
    margin: 1% 5%;
}

.right-panel-content legend{
    display: inline-block;
}

.table-sort > span{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 5px;
    position: absolute;
    margin-left: 7px;
    right: 0;
}

.arrow-up span{
    border-bottom: 5px solid black;    
}

.arrow-down span{
    border-top: 5px solid black;
}

.table-sort{
    color: #01188d;
    text-decoration: none;
    position: relative;
    padding-right: 14px;
}

.table-sort:hover{
    text-decoration: underline;
}

/*message box styles*/
.ch-message.message-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
}

.ch-message .message-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
}

.ch-message .message-box{
    background: white;
    max-width: 300px;
    min-width: 200px;
    border-radius: 5px;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.ch-message .message-header{
    background: red;
    border-radius: 5px 5px 0 0px;
    padding: 5px;
}

.ch-message .message-text{
    padding: 10px 5px;
}

.ch-message .message-buttons{
    padding: 5px;
    text-align: right;
}


label input[type='checkbox']{
    vertical-align: middle;
}

/*-----------------------login form--------------*/
#login .login-form{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 8px 2px #888888;
}
#login .head img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 6px solid rgba(221, 218, 215, 0.23);
    width: 100px;
    margin: 0;
}

#login label{
    font-size: 12px;
    
}

#login form {
    width: 80%;
    margin: 0 auto;
    padding: 6% 0 9% 0;
}

#login .head {
    position: absolute;
    top: -17%;
    left: 31%;
}

#login .main{
    width: 300px;
    margin: auto;
    margin-top: 100px;
    background: whitesmoke;
}
#login .main h1{
    font-size:25px;
    color:#676767;
    
    font-weight:400;
    padding-top: 19%;
    text-align: center;
}
#login .main form {
    width: 80%;
    margin: 0 auto;
    padding: 6% 0 9% 0;
}
#login .main p {
    text-align: center;
}
#login.main form p a {
    color: #888;
    font-family: 'Open Sans', sans-serif;
}
#login form p a:hover {
    color:#21A957;
}
#login .main form input[type="text"], input[type="password"]{
    text-align:left;
    position: relative;
    width:92%;
    padding:3%;
    background:#D3D3D3;
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    font-weight:600;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    border:1px solid #DED6D6;
    -webkit-appearance:none;
}
#login .main form input[type="text"]:hover, input[type="password"]:hover{
    border:1px solid #949494;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:	0.5s;
    
}
#login .main form input[type="submit"]{
    width: 99%;
    padding: 3%;
    margin-bottom: 8%;
    background: #21A957;
    font-family: 'Open Sans', sans-serif;
    color: #ECECEC;
    box-shadow: inset 0px 0px 10px #666464;
    -webkit-text-shadow: 0px 0px 3px #000;
    -moz-text-shadow: 0px 0px 3px #000;
    -o-text-shadow: 0px 0px 3px #000;
    -ms-text-shadow: 0px 0px 3px #000;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight:500;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-appearance:none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
#login .main form input[type="submit"]:hover{
    background:#128A42;
    color:#fff;
}