<div class="flex">
    
    <div class="left-view-panel">
        <div style="padding: 10px;">
            <label>
                Search : <input type="text" >
            </label>
        </div>
        <div class="vertical-menu">
            <a href="" ng-class="($index == 0)?'selected-category':''" ng-repeat="customer in customers">{{customer.name}}</a>
        </div>
    </div>
        
    <div class="right-selected-panel">
        
        <div>
            <button style="margin: 0; " class="new-button"><i class="fa fa-file-text-o"></i>Add invoice</button>
            <h3 style="display: inline-block;padding: 0 12px;">Anuruddha Distributors, Kalutara</h3>
            <button style="margin: 0;background: #3F51B5; " class="new-button"><i class="fa fa-money"></i>Add payment</button>
        </div>
        <div style="padding: 5px;">
            <div style="display: inline-block;">
                From :<div style="display: inline-block;width: 90px;top: 5px;position: relative;">
                    <datepicker date-format="dd-MM-yy">
                        <input ng-model="filterOrders.fromDate" style="width: 75px;" type="text"/>
                    </datepicker>
                </div>
                To :<div style="display: inline-block;width: 90px;top: 5px;position: relative;">
                    <datepicker date-format="dd-MM-yy">
                        <input ng-model="filterOrders.toDate" style="width: 75px;" type="text"/>
                    </datepicker>
                </div>
            </div>
        </div>
        
        <table ng-init="balance"  cellspacing="0" cellpadding="0" style="font-size: 14px;">
           
            <thead>
                 <tr class="table-header ">
                    <th style="width:80px;">Date</th>
                    <th style="width: 250px;">Transaction</th>
                    <th style="width:85px;">Debit</th>
                    <th style="width:85px;">Credit</th>
                    <th style="width:85px;">Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="ledgerData.bf" ng-init="balance = ledgerData.bf">
                    <td></td>
                    <td>Brought forward</td>                    
                    <td>{{(ledgerData.bf > 0)?ledgerData.bf:''}}</td>
                    <td>{{(ledgerData.bf < 0)?ledgerData.bf:''}}</td>
                    <td></td>
                </tr>
                    
                <tr ng-repeat="data in ledgerData.data track by $index">
                    <td>{{data.date}}</td>
                        
                    <td ng-switch="data.type">
                        <a ng-switch-when="1" href="./#/account/invoices/{{data.invoiceNo}}">{{data.transaction + ' '+ data.invoiceNo}}</a>
                        <a ng-switch-when="2" href="./#/account/payments/{{data.paymentNo}}">{{data.transaction + ' '+ data.paymentNo}}</a>
                        <a ng-switch-when="3" href="./#/account/cheques/{{data.chequeId}}-{{data.bank}}-{{data.accountNo}}">{{'Returned Cheque ' + data.chequeId}}</a>
                        <a ng-switch-default>{{data.transaction}}</a>
                        <!--<a ng-switch-when="4" href="./#/account/invoices/{{data.invoiceNo}}">{{data.transaction + ' '+ data.invoiceNo}}</a>-->
                    </td>
                   
                    <td>{{(data.isDebit)?data.amount :''}}</td>
                    <td>{{(!data.isDebit)?data.amount :''}}</td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                
            </tfoot>
                
        </table>
    </div>
    
<!--        <div class="right-selected-panel">
    
    <fieldset>
        <legend>Customer</legend>
        <label>
            Name : <input type="text">
        </label>
        <button>Search</button>
        <label>
            <input type="checkbox">
            Include Deleted Customers
        </label>
            
    </fieldset>
    <div>
        <table cellspacing="0" cellpadding="0" style="font-size: 14px;">
            <tr class="table-header">
                <th></th>
                <th style="width: 10%"><ch-table-sort sort="sort" value="id" reverse="reverse" text="Account ID"></ch-table-sort></th>
            <th style="width: 30%;text-align: left;"><ch-table-sort sort="sort" value="customerName" reverse="reverse" text="Customer"></ch-table-sort></th>
            <th style="width: 12%"><ch-table-sort sort="sort" value="balance" reverse="reverse" text="Balance"></ch-table-sort></th>                    
            <th>Last Invoice Date</th>
            <th>Last Payment Date</th>
            <th></th>
            </tr>
            <tr ng-repeat="account in accounts " >
                <td >{{$index + 1}}</td>
                <td ><a href="./#/accounts/{{account.id}}">{{account.id}}</a></td>
                <td style="text-align: left">{{account.customerName}}</td>
                <td >Rs. {{account.balance}}</td>
                <td>{{account.lastInvoiceDate}}</td>
                <td>{{account.lastPaymentDate}}</td>
                <td class="tst">
                    <i class="fa fa-money" aria-hidden="true" title="Creat A Payment"></i>
                    <i class="fa fa-file-text-o" aria-hidden="true" title="Create A Invoice"></i>
                </td>
            </tr>
                    
        </table>
    </div>
</div>-->
    
</div>