<div class="flex">
    
    <div class="left-view-panel">
       <button>Add new payment</button>
       Stats
    </div>
    
    <div class="right-selected-panel">
        
        <fieldset>
            <legend>Filter cheques</legend>
            <label>
                From :
                <input type="text">
            </label>
            <label>
                To : 
                <input type="text">
            </label>
            <label>
                Status :
                <select>
                    <option value="">All</option>
                    <option value="0">Pending</option>
                    <option value="1">Returned</option>
                    <option value="3">Passed</option>
                </select>
            </label>
        </fieldset>
        <div>
            <table>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Cheque No</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Customer</th>
                </tr>
                <tr ng-repeat="cheque in cheques track by $index" >
                    <td>{{$index}}</td>
                    <td>{{cheque.id}}</td>
                    <td>{{cheque.chequeNo}}</td>
                    <td>{{cheque.date}}</td>
                    <td>{{cheque.amount}}</td>
                    <td ng-switch="cheque.status">
                        <span ng-switch-when="0">Pending</span>
                        <span ng-switch-when="1">Returned</span>
                        <span ng-switch-when="2">Passed</span>
                    </td>
                    <td>{{cheque.customerName}}</td>
                </tr>
                    
            </table>
        </div>
    </div>
    
</div>