<div class="flex">
    
    <div class="left-view-panel">
        <button class="new-button">Create New Invoice</button>
        <div class="pad7"><a href="#" class="link">this month orders : 10</a></div>
       <div class="pad7"><a href="#" class="link">pending orders : 3</a></div>
       <div class="pad7"><a href="#" class="link">processing orders : 3</a></div>
    </div>
    
    <div class="right-selected-panel">
        
        <fieldset>
            <legend>Filter Orders</legend>
            <label>
                Customer:<input type="text">
            </label>
            <label>
                Month :
                <select>
                    <option>October</option><option>October</option>
                </select>
            </label>
            <label>
                Year : 
                <input list="years" value='2017' style='width: 60px;'>
                <datalist id="years">            
                    <option value="2017"></option>
                </datalist>
            </label>
            <label>
                Status: 
                <select ng-model="filterOrders.status">
                    <option value="">All</option>
                    <option value="0">Pending</option>
                    <option value="1">Processing</option>
                    <option value="2">Dispatched</option>
                </select>
            </label>
            
        </fieldset>
        <div class="table">
            <div class="table-header">
                <div class='col col1'></div>
                <div class='col col-id'>ID</div>
                <div class='col col-date'>Date</div>
                <div class='col col-name'>Customer</div>
                <div class='col col-total'>Total</div>
                <div class='col col-total'>Status</div>
                <div class="col col-remarks">Remarks</div>
            </div>
            
            <div class="table-row" ng-repeat="order in orders | filter: {status:filterOrders.status}">
                <div class='col col1'>{{$index + 1}}</div>
                <div class='col col-id'><a href="./#/orders/{{order.id}}">{{order.id}}</a></div>
                <div class='col col-date'>{{order.date}}</div>
                <div class='col col-name'>{{order.customerName}}</div>
                <div class='col col-total'>Rs. {{order.total}}</div>
                <div class='col col-total' ng-switch="order.status">
                    <span ng-switch-when="0" class="red hover-button" >Pending <button>Invoice</button></span>
                    <span ng-switch-when="1" class="green">Processing</span>
                        <span ng-switch-when="2" >Dispatched</span>
                </div>
                <div class="col col-remarks">{{order.remarks}}</div>
                <div ng-if='order.status =="0"' class="col col-float"></div>
            </div>
            
        </div>
    </div>
    
</div>