<div class="flex">
    
    <div class="left-view-panel">
       <button>Create an Order</button>
       <button>Create a payment</button>
    </div>
    
    <div class="right-selected-panel">
        
        <div><a href="./#/orders">Back to Orders</a></div>
        
            <fieldset>
                <legend>Invoice Info</legend>
                <label>
                    Customer Name : <input type="text" ng-model="invoiceInfo.customerName" > 
                </label>
                <label>
                    Customer ID: <input ng-if="addingNewInvoice" type="text" ng-model="invoiceInfo.customerId" readonly> 
                    <a ng-if="!addingNewInvoice" href="./#/customers/{{invoiceInfo.customerId}}">{{invoiceInfo.customerId}}</a>
                </label>
                <label>
                    Invoice Date : <input type="text" ng-model="invoiceInfo.invoiceDate" > 
                </label>
            </fieldset>
            
            <fieldset>
                <table>
                    <tr>
                        <th></th>
                        <th>Item No</th>
                        <th>Description</th>
                        <th>price</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>Total</th>
                    </tr>
                    <tr ng-repeat="item in invoiceInfo.items">
                        <td>{{$index + 1}}</td>
                        <td><a href=".#/items/{{item.categoryId}}/{{item.id}}" target="blank">{{item.id}}</a></td>
                        <td>{{item.description}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.discount}}</td>
                        <td>{{(item.price - item.discount) * item.quantity}}</td>
                    </tr>
                </table>
            </fieldset>
        <div>
            <textarea>{{invoiceInfo.remarks}}</textarea>
        </div>
            
            <fieldset ng-if="!addingNewInvoice">
                <legend>Other Info</legend>
                <div>Added Date: {{invoiceInfo.addedDate}}</div>
                <div>Added By: {{invoiceInfo.addedby}}</div>
            </fieldset>
            
            <div ng-if="!addingNewInvoice">
                <button>Update</button>
            </div>
            
            <div ng-if="addingNewInvoice">
                <button>Clear</button>
                <button ng-click="addNew()">Save</button>
            </div>
                       
    </div>
    
</div>