<div class="flex">
    
    <div class="left-view-panel">
        <button class="action-button">Create New Invoice</button>
        <div class="pad7"><a href="#" class="link">this month orders : 10</a></div>
        <div class="pad7"><a href="#" class="link">pending orders : 3</a></div>
        <div class="pad7"><a href="#" class="link">processing orders : 3</a></div>
    </div>
    
    <div class="right-selected-panel">
        
        <fieldset>
            <legend>Filter Orders</legend>
            <label>
                Customer:<input type="text">
            </label>
            <div style="display: inline-block;">
                From :<div style="display: inline-block;width: 90px;top: 5px;position: relative;">
                    <datepicker date-format="dd-MM-yy">
                        <input ng-model="filterOrders.fromDate" style="width: 75px;" type="text"/>
                    </datepicker>
                </div>
                To :<div style="display: inline-block;width: 90px;top: 5px;position: relative;">
                    <datepicker date-format="dd-MM-yy">
                        <input ng-model="filterOrders.toDate" style="width: 75px;" type="text"/>
                    </datepicker>
                </div>
            </div>
            <label>
                Status: 
                <select ng-model="filterOrders.status">
                    <option value="">All</option>
                    <option value="0">Pending</option>
                    <option value="1">Processing</option>
                    <option value="2">Dispatched</option>
                </select>
            </label>                    
        </fieldset>
        <table cellspacing="0" cellpadding="0" style="font-size: 14px;">
            <tr class="table-header">
                <th></th>
                <th style="width: 10%;"><ch-table-sort sort="sort" value="id" reverse="reverse" text="ID"></ch-table-sort></th>
                <th>Date</th>
                <th style="width:34%;">
                <ch-table-sort sort="sort" value="customerName" reverse="reverse" text="Customer"></ch-table-sort>
                <th style="width: 12%;">Total</th>
                <th>Status</th>
                <th style="width: 245px;text-align: right">Remarks</th>
            </tr>
            
            <tr ng-repeat="order in orders | orderBy:sort:reverse | filter: {status:filterOrders.status}">
                <td>{{$index + 1}}</td>
                <td><a href="./#/orders/{{order.id}}">{{order.id}}</a></td>
                <td>{{order.date}}</td>
                <td>{{order.customerName}}</td>
                <td>Rs. {{order.total}}</td>
                <td class='col col-total' ng-switch="order.status">{{orderTotal}}
                    <span ng-switch-when="0" class="red hover-button" >Pending <button>Invoice</button></span>
                    <span ng-switch-when="1" class="green">Processing</span>
                    <span ng-switch-when="2" >Dispatched</span>
                </td>
                <td style="text-align: right;">{{order.remarks}}</td>
            </tr>
        </table>
    </div>
    
</div>